html {
	background-color: aqua;
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 2em 0em;
	font-size: 2em;
}
.screen {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
